.cards {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.cards img {
  max-width: 100%;
}

.front-card {
  align-self: start;
  max-width: 90%;
  order: 2;
  margin-top: -4rem;
  z-index: 1;
  position: relative;
}

.front-card_data {
  position: absolute;
  inset: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 1rem;
}

.front-card_data > img {
  width: 27.5%;
  padding: 0.5rem;
}

.card-number {
  font-size: larger;
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
  letter-spacing: 0.1rem;
}

.front-card_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}

.card-name {
  font-size: small;
  text-transform: uppercase;
  font-weight: 300;
}

.card-date {
  font-size: small;
  font-weight: 300;
}

.back-card {
  max-width: 90%;
  align-self: end;
  order: 1;
  position: relative;
}

.back-card_data {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 15%;
  padding-bottom: 1.5rem;
  font-size: 0.75rem;
  color: white;
  letter-spacing: 0.1rem;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}
