@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Space Grotesk,
    sans-serif;
  font-weight: 500;
}

body {
  min-height: 100vh;
  background-image: url('../assets/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
